body {
    background-color: honeydew; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*Navigation Bar*/  
  ul.n {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
    caret-color: black;
  }
  li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #9DC183;
    color: white;
  }
  #a, #b, #c, #d, #e {
    Border: 2px solid #9DC183;
    border-radius: 5px;
  }
  #a, #b, #c, #d {
    margin-right: 9px;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  border: 1px solid black;
}
th {
  font-weight: bold;
  text-align: center;
}
th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}
