body {
    /*background-color: honeydew;*/
    /*background-color: rgba(50, 50, 100, 0.2);*/
    background-color: lavenderblush;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*Navigation Bar*/  
header {
  width: 100%;
}
#name {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gainsboro;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: auto;
  border-radius: 15px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}
li a:hover {
  background-color: #9dc183;
  font-weight: bold;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  margin left: 10px;
}
.about, .photos, .skills, .work, .email {
  margin-left: 10px;
}
.images {
  width: 20%;
  height: auto;
  margin: 10px 5px;
  padding: 10px 5px;
  border-radius: 5px;
}
.skills {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  border: 1px solid black;
}
th, td {
  padding: 20px;
  border: 1px solid black;
}
th {
  font-weight: bold;
  text-align: center;
}
